header {
    width: 90%;
    padding: 20px 5%;
    background: #222;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #c75454;
    font-size: 25px;
    font-weight: bolder;
}

nav {
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #dfdfdf;
}

nav ul a {
    color: #dfdfdf;
    transition: all 500ms ease;
}

nav ul a:hover {
    text-decoration: underline;
    color: #9d9d9d;
    transition: all 500ms ease;
}